.container>h4{
    margin: 50px 0 40px 10px;
}
.search1{
    margin-bottom: 50px;
}
.search1>input ,.search1>a{
    float: left;
    height: 47px;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 0;
}
.search1>input{
    color: #666;
    line-height: 47px;
    padding-left: 12px;
}
.search1>input:focus{
    outline: none;
    border:1px solid #FF9D00;
}
.search1>a:last-child{
    border: 0;
    background: #FF9D00;
    padding: 0;
    width: 46px;
    height: 46px;
}
.search1>a:last-child:hover{
    background: #FF8A00;
}
.search1>a:last-child>i{
    display: block;
    margin:11px auto;
    background-image: url("../image/images/header-sprites3.png");
    width: 24px;
    height: 24px;
    background-position: 0 92%;

}
.search1>a>b{
    float: right;
    margin: 15px 5px 0 0;
    background-image: url("../image/images/header-sprites3.png");
    width: 24px;
    height: 24px;
    background-position: 0 80%;
}
.search1>a:nth-child(4){
    padding-left:10px;
    color: #666;
    line-height: 48px;
}

.search1>a>span{
    float: right;
    width: 24px;
    height: 24px;
    background-image: url("../image/images/hotel-detail-icon7.png");
    background-position:17% 50%;
    margin: 12px 10px 0 0;
}









.hotel-floor1{
    margin-bottom: 30px;
}
.hotel-floor1>div>i{
    float: left;
    width: 35px;
    height: 42px;
    background-image: url("../image/images/hotel-sprites1.png");
    margin-right: 12px;
}
.hotel-floor1>div:nth-child(2)>i{
    width: 45px;
    background-position: 47% 0;
}
.hotel-floor1>div:nth-child(3)>i{
    width: 42px;
    background-position: 95% 0;
}
.hotel-floor1>div>span{
    display: block;
    height: 18px;
}
.hotel-floor1>div>span:nth-child(2){
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}
.hotel-floor1>div>span:nth-child(3){
    color: #676666;
    font-size: 15px;
    line-height: 18px;
}
.hotel-floor2>ul>li{
    color: #666;
    font-size: 18px;
    cursor: pointer;
}
.hotel-floor2>hr{
    margin-top: 0;
    margin-bottom: 20px;
}
.hotel-floor2>ul{
    margin-bottom: 0;
}
.hotel-floor2>ul:first-child>li{
    display: block;
}
.hotel-floor2>ul:first-child>li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #666;
}
.hotel-floor2>ul:nth-child(2)>li{
    display: block;

}
.hotel-info{
    position: relative;
    display: block;
    background-size: 100% 100%;
    width:100%;
    height: 260px;
    margin:15px auto;
    box-shadow:12px 12px 9px #bbb ;
    border-radius: 3px;
}/*
li:nth-child(1)>div.hotel-info{
    background-image: url("../image/hotel-image/thxz%20(1).jpeg");
}
li:nth-child(1)>div.hotel-info::after{
    content: "";
    display: block;
    clear: both;
}
li:nth-child(1)>div.hotel-info:hover span{
    display: block;
}
li:nth-child(1)>div.hotel-info>span{
    background:#fff;
    display: none;
}
li:nth-child(1)>div.hotel-info>span:nth-child(1){
    float: left;
    background-size: cover;
    width: 33%;
    animation: test1 1.5s linear;
}
li:nth-child(1)>div.hotel-info>span:nth-child(2){
    float: left;
    background-size: cover;
    width: 34%;
    animation: test1 1s linear;
}
li:nth-child(1)>div.hotel-info>span:nth-child(3){
    float: left;
    background-size: cover;
    width: 33%;
    animation: test1 0.5s linear;
}
@keyframes test1 {
    0%{
        height: 260px
    }
    100%{
        height: 0px;
    }
}



li:nth-child(2)>div.hotel-info{
    background-image: url("../image/hotel-image/thxz%20(2).jpeg");
}
li:nth-child(3)>div.hotel-info{
    background-image: url("../image/hotel-image/thxz%20(3).jpeg");
}
li:nth-child(4)>div.hotel-info{
    background-image: url("../image/hotel-image/thxz%20(4).jpeg");
}
li:nth-child(5)>div.hotel-info{
    background-image: url("../image/hotel-image/thxz%20(5).jpeg");
}
li:nth-child(6)>div.hotel-info{
    background-image: url("../image/hotel-image/thxz%20(6).jpeg");
}*/
.hotel-price{
    position: absolute;
    width:100%;
    height: 260px;
    top: 0;
    font-size:32px;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
    color: #fff;
    text-shadow: 1px 1px 7px #333;
}
#style-hotel .hotel-price{
    display: none;
    animation: price-bg 1s linear both;
}
@keyframes price-bg {
    0%{
        background: rgba(0, 0, 0, 0);
    }
    50%{
        background: rgba(0, 0, 0, 0.25);
    }
    100%{
        background: rgba(0, 0, 0, 0.50);
    }
}
.hotel-price span{
    font-size: 18px;
    font-weight: 200;
    display: block;
}
#style-hotel .hotel-info:hover .hotel-price{
    display: block;
}

.hotel-floor2:nth-child(7)>ul.d-flex>li>.hotel-info{
    background-image: url("../image/picture/wkgbs1dl9mgaw6v3abiemhuwrlu33.jpeg");
}
.hotel-floor2:nth-child(7)>ul.d-flex>li>.hotel-info>.hotel-price{
    display: block;
    background: rgba(0,0,0,0);
}
.hotel-floor2:nth-child(7)>ul.d-flex>li>.hotel-info:nth-child(2){
    background-image: url("../image/images/wKgBs1dL8-yAbZrYAF1Dvvu7biQ77.jpeg");
}
#discount-hotel .hotel-price>span:nth-child(1){
    position: absolute;
    padding: 3px;
    top: 8px;
    left: 8px;
    color: #fff;
    font-size: 14px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
}
#discount-hotel .hotel-price>span:nth-child(2){
     position: absolute;
     color: #fff;
     text-shadow: 2px 2px 3px #333;
     font-size: 14px;
     bottom: 34px;
     left:8px;
     font-weight: 400;
    line-height: 22px;
    text-align: left;
 }
#discount-hotel .hotel-price>span:nth-child(3){
      position: absolute;
      color: #fff;
      text-shadow: 2px 2px 3px #333;
      font-size:14px;
      line-height: 14px;
      text-align: left;
      font-weight: 400;
      bottom: 10px;
      left:8px;
    
  }
.container{
    margin-bottom: 30px;
}
.nav-tabs .nav-link{
    border: none;
    border-radius: 0;
}
.nav-link{
    padding: 0;
}
.hotel-floor2>.nav-tabs>.nav-items>.nav-link.active{
    border:none;
    border-bottom: 4px solid #FF9D00 !important;
}








.date  {
    position: absolute;
    border: 1px solid #FF9D00;
    border-radius: 3px;
    box-shadow: 0 0 4px #FF9D00;
    width: 530px;
    height: 240px;
    top: 46px;
    left: 0;
    color: #666;
    background-color: #fff;
    padding: 10px;
    display:none;
    justify-content: space-between;
    z-index: 1;
    transition: box-shadow 1s linear;
}

#p-count{
    color: #666;
    background-color: #fff;
    padding: 10px;
    display:none;
    height: 160px;
    width: 530px;
    left: -375px;
    top: 46px;
    z-index: 1;
    position: absolute;
    border: 1px solid #FF9D00;
    border-radius: 3px;
    box-shadow: 0 0 4px #FF9D00;
}
.date table{
    float: left;
    width: 225px;
    height: 170px;
    padding: 10px;
    font-weight: normal;
    margin-right: 10px;
}
.date>div:nth-child(1){
    margin-right: 15px;
    margin-left: 8px;
    border-right: 1px solid #ddd;
}
.date table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date table tbody tr ,.date table thead{
    display: flex;
    justify-content: space-between;
}
.date table th span{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    font-weight: 400;
}
.date table th{
    width: 35px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.date table td{
    text-align: center;
    line-height: 30px;
    width: 33px;
    height: 30px;
}
.date>div:nth-child(2)>table tr:nth-child(1)>td:nth-child(1){
    color: #FF9D00;
}
.date>div:nth-child(2)>table tr:nth-child(1)>td:nth-child(1):hover{
    color: #FFf;
}
.date table td:hover{
    background-color: #FF9D00;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}
.date>div>span{
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.date>div>span>i{
    background-image: url("../image/images/datepicker-arrow.png");
    width: 10px;
    height: 14px;
    margin-top: 7px;
}
.date>div:nth-child(1)>span>i{
    float: left;
    margin-left: 7px;
    opacity: .5;
}
.date>div:nth-child(1)>span>i:hover{
    background-position: 0 91%;
}
.date>div:nth-child(2)>span>i{
    float: right;
    margin-right: 22px;
    background-position:90% 0;
}
.date>div:nth-child(2)>span>i:hover{
    background-position: 90% 91%;
}




.is-adult>span{
    float: left;
    width: 80px;
    font-size: 14px;
    height: 30px;
    margin: 5px 0 0 5px;
    line-height: 30px;
}
.is-adult>span:nth-child(1)~span{
    position: relative;
    width: 100px;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding-left: 10px;
}
.is-adult>span:nth-child(1)~span>div{
    float: right;
    width: 24px;
    border-left: 1px solid #dedede;
    margin-top: 5px;
    height: 20px;
}
.is-adult>span:nth-child(1)~span b{
    border-top-color:#aaa ;
}

.is-adult>span:nth-child(1)~span  ul{
    position: absolute;
    background: #fff;
    width: 100%;
    top: 29px;
    left: 0;
    border: 1px solid #dedede;
    z-index: 1;

}
.is-adult>span:nth-child(1)~span ul>li{
    padding-left: 10px;

}
.is-adult>span:nth-child(1)~span ul>li:hover{
    background: #efefef;
}

