/*.carousel-img1{*/
    /*display: block;*/
    /*position: fixed;*/
    /*width: 1000px;*/
    /*height: 1000px;*/
    /*background-image:url("https://n1-q.mafengwo.net/s11/M00/B6/71/wKgBEFtoApiARwYbAAX8hXZ-yvc00.jpeg?imageMogr2%2Finterlace%2F1");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
/*}*/
body{
    background: #ffffff;
}
 .carousel-inner{
    width: 100%;
    min-width: 980px;
}
 .carousel-inner>.carousel-item>a>img{
    width: 100%;
    height: 100%;
    min-width: 1057px;
}
 .index-top>.carousel>ul{
    position: absolute;
    height: 80%;
    left: 90%;
    display: flex;
    top: 7%;
    flex-direction:column;
    justify-content:space-around;
}
.index-top>.carousel>ul>li{
    background-size: auto 110%;
    background-position: center;
    width: 110px;
    height: 62px;
    z-index: 2;
}
 .index-top>.carousel>ul>li::selection{
    border: 1px solid #FF9D00;
}
 .index-top>.carousel>ul>li:first-child{
    background-image: url("../image/images/wKgBEFtoApiARwYbAAX8hXZ-yvc01.jpeg");
 }
.index-top>.carousel>ul>li:nth-child(2){
    background-image: url("../image/images/wKgBEFtoApiARwYbAAX8hXZ-yvc02.jpeg");
}
 .index-top>.carousel>ul>li:nth-child(3){
     background-image: url("../image/images/wKgBEFtoApiARwYbAAX8hXZ-yvc03.jpeg");
}
 .index-top>.carousel>ul>li:nth-child(4){
    background-image: url("../image/images/wKgBEFtoApiARwYbAAX8hXZ-yvc04.jpeg");
}
.index-top>.carousel>ul>li:nth-child(5){
    background-image: url("../image/images/wKgBEFtoApiARwYbAAX8hXZ-yvc05.jpeg");
}
/*.ceshi,.ceshi2{*/
    /*background: red;*/
    /*border: 3px solid green;*/
    /*width: 800px;*/
    /*height: 500px;*/
/*}*/

.descript{
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    top: 24px;
    left: 13%;
    text-shadow:1px 1px 2px #122233;
}
.descript>p{
    display: block;
    min-width: 1000px;
}
.descript>p:first-child>b:first-child{
    font-size: 36px;
}
.source{
    color: #fff;
    font-size: 14px;
    position: relative;
    margin: 0 auto;
    bottom: 30px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}
.carousel-inner>.carousel-item>p:last-child{
    display: block;
    width: 1000px;
    margin: 0 auto;
}

.index-top{
    position: relative;
}

.query{
    position:absolute;
    bottom: 18%;
    left: 28%;
    min-width: 500px;
    width: 632px;
    height: 109px;
    background: rgba(0,0,0,.6);
    z-index: 100;
    border-radius: 5px;
}

.query .query-group li{
    display: inline-block;
    width: auto;
    height: 26px;
    color: #fff;
    font-size: 18px;
    margin:10px 0 0 15px;
    padding-right: 26px;
    cursor: pointer;
}
.query>.query-group>li>a.show.active{
    background-position: 32.5% 76%;
}
.query>.query-group>li>a{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    background-image:url(../image/images/header-sprites13.png) ;
    background-position: 32.5% 60%;
}
.query>.query-group>span:first-child>a{
    background-position: 32.5% 76%;
}
.query>.tab-content>div:nth-child(2){
    position: relative;
}
.query>.tab-content>div:nth-child(2) b:nth-child(4) ,.query>.tab-content>div:nth-child(2) b:nth-child(5) {
    position: absolute;
    margin: 15px 5px 0 0;
    background-image: url(../image/images/header-sprites3.png);
    width: 24px;
    height: 24px;
    left: 355px;
    background-position: 0 80%;
}
.query>.tab-content>div:nth-child(2) b:nth-child(5) {
    left: 480px;
}
.tab-content{
    margin-top: 10px;
    height: 50px;
}
.query .tab-content a{
    float: left;
    width: 50px;
    height: 46px;
    background: #FF9D00;
    border-radius: 5px;
    border: none;
}
.query .tab-content a>i{
    display: block;
    position: relative;
    background-image:url("../image/images/header-sprites13.png") ;
    background-position: 0% 62%;
    width: 24px;
    height: 24px;
    z-index: 3;
    top:12px;
    left: 12px;
}
.query>.tab-content>div:nth-child(1)>input ,.query>.tab-content>div:nth-child(3)>input ,.query>.tab-content>div:nth-child(4)>input{
    float: left;
    width: 504px;
    height: 46px;
    padding: 0 21px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.query>.tab-content>div:nth-child(2) input:first-child{
    float: left;
    width: 254px;
    height: 46px;
    padding: 0 21px;
    border: none;
    outline: none;
}
.query>.tab-content>div:nth-child(2) input:first-child~input{
    border: none;
    width: 120px;
    height: 46px;
    padding-left: 15px;
}
.query>.tab-content>div:nth-child(2)>div{
    float: left;
    border-radius: 5px;
    width: 504px;
    height: 46px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

/*.carousel-inner>.query-input>ul>li>div>div:last-child{*/
    /*display: none;*/
/*}*/
/*.carousel-inner>.query-input>ul>li>div>div:first-child>input:focus .input-item{*/
    /*display: block;*/
/*}*/
/*.carousel-inner>.query-input>ul>li>div>div:first-child>input{*/
    /*position: relative;*/
    /*z-index: 100;*/
/*}*/



/*#query-frame{*/
    /*border: 1px solid black;*/
    /*background: #71dd8a;*/
/*}*/
/*.query{*/
    /*position: relative;*/
/*}*/
/*#input-div1,#input-div2,#input-div3,#input-div4{*/
    /*width: 600px;*/
    /*height: 50px;*/
    /*padding:30px;*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*left: 0;*/
/*}*/


.index-bottom{
    position: relative;
    width: 1000px;
    overflow: hidden !important;
    margin: 0 auto;
}
.header-all .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
 .carousel>.carousel-indicators{
    width: 110px !important;
    margin: 0 40px 0 0 !important;
}
.index-right>ul{
    position: relative;
    display: block;
    width:260px ;
    overflow: hidden;
}
.index-right>ul>li{
    margin-top: 20px;
    display: block;
    width: 260px;
}
ul.carousel-indicators>li.active{
    border: 2px solid #FF9D00;
    transition: all .1ms linear .2s;
}
ul.carousel-indicators>li{
    border: 2px solid transparent;
}


.nav-style1{
    text-align: left;
    font-size: 18px;
    color: #333;
}
.nav-style1:hover{
    text-decoration: none;
    color: #333;
}
.nav-style2{
    display: block;
    float: right;
    font-size: 12px;
    color: #999;
    line-height: 32px;
}
.nav-style2:hover{
    color: #999;
}
.news-title{
    color: #333;
    font-size: 16px;
    display: block;
}
.news-title:hover{
    color: #FF9D00;
    text-decoration: underline;
}
/*.index-right>ul>li>a:nth-child(2){*/
    /*display: block;*/
    /*padding: 10px 0;*/
/*}*/
.news-font1{
     font-size: 14px;
     color: #666;
 }
.news-font2{
    color:#FF9D00;
    font-size: 14px;
}
.news-font2:hover{
    color: #FF9D00;
    text-decoration: underline;
}
.links-font1{
    display:block;
}
.links-font1:after{
    content: '';
    display: block;
    clear: both;
}
.links-font1>.news-font1:hover{
    color: #FF9D00 !important;
}
.index-right>ul>li:last-child>ul>li{
    float: left;
    padding: 5px 0 ;
}
.index-right>ul>li:last-child>ul>li>a:hover{
    text-decoration: underline;
}
















.news1{
    display: block;
    background-image: url("../image/picture/wKgBEFtgKfiAeT5pAAEMsSf1AVg851.png");
    width: 260px;
    height: 140px;
    background-size: 260px;
    margin-bottom: 10px;
}
.news2{
    display: block;
    background-image: url("../image/picture/wKgBZ1jHxvmAJhc4AAEqJU4j4Hw54.jpeg");
    width: 260px;
    height: 140px;
    background-size: 260px;
    margin-bottom: 10px;
}
.trip-news1:nth-child(2)>ul>li{
    margin: 3px 0;
}
 .news3{
     display: block;
     background-image: url("../image/picture/wkgbeftzihoafea3aaktvct8iy850.jpeg");
     width: 260px;
     height: 178px;
     background-size: 260px;
     margin-bottom: 10px;
 }
 .trip-news1:nth-child(3)>a.news-title{
     color: #FF9D00;
     margin: 3px 0;
 }
.news4{
       display: block;
       background-image: url("../image/picture/unknowntravel.png");
       width: 260px;
       height: 130px;
       background-size: 260px;
       margin-bottom: 10px;
}
.news5{
    display: block;
    background-image: url("../image/picture/hr.jpg");
    width: 260px;
    height: 130px;
    background-size: 260px;
    margin-bottom: 10px;
}

.news-icon{
    display: block;
    background-image: url("../image/picture/sprite.png");
    background-position: 0 10%;
    width: 34px;
    height: 14px;
}
.font-mfw:hover {
    color: #FF9D00;
}
.news-font3{
    color: #333;
    font-size: 16px;
}



.index-right-top{
    position: relative;
    width: 700px;
    height: 264px;
    margin-left: 30px;
}
.index-right-top>ul{
    display: block;
    position: relative;
    overflow: hidden;
    height: 217px;
    width: 700px;
}
.index-right-top>ul>li{
    width: 220px;
    height: 217px;
    margin-right:13px ;
}
.index-right-top>ul>li>a{
    display: block;
    width: 220px;
    height: 217px;
    background-position: 0 0;
    background-size: 100% 100%;
}
.adv-img1>a{
    background-image: url("../image/picture/wKgBEFqChbWAOg5oAAEeVJQPd7k17.jpeg");
    position: relative;
}
.adv-img2>a{
    background-image: url("../image/picture/wKgBZ1mFadyACEV8AAIvwVzH-zg419.png");
    position: relative;
}
.adv-img3{
    margin-right: 0;
}
.adv-img3>a{
    background-image: url("../image/picture/wKgBEFqqRVqAS5FsAB2V4mZb5XA013.gif");
    position: relative;
}
.product>li>a>span{
    display: block;
    position: absolute;
    width: 220px;
    height: 95px;
    bottom: -15px;
    overflow: hidden;
    padding: 10px 10px 0 10px;
    background: rgb(255,255,255);
}
.price{
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 220px;
    height: 27px;
    background: rgb(255,255,255);
    margin: 0;
}
.adv-active{
    color: #333;
    font-size: 14px;
}
.adv-active:hover{
    color: #FF9D00 !important;
    animation:adv .2s linear both;
}
.price{
    color: #FF9D00;
    font-size: 16px;
    padding: 5px 0;
}
.title>.nav-block1{
    display: inline-block;
    width: 170px;
    height: 43px;
    padding-bottom: 8px;
    border-bottom: 3px solid #FF9D00;
    text-align: center;
}
.choose-btn{
    position: relative;
    display: inline-block;
    margin:auto;
    border: 1px solid #e5e5e5;
    width: 65px;
    height: 22px;
    padding: 0 10px 0 8px;
    margin-left: 7px;
    color: #666666;
    font-size: 12px;
    line-height: 18px;
}
.choose-btn:hover{
    background: #FF9D00;
    color: #fff;
}
.choose-btn>i{
    display: inline-block;
    background-position:0 67.5% ;
    height: 8px;
    width: 11px;
    margin: 6px 5px 0 0;
    background-image: url("../image/images/index-sprites9.png");
}
.choose-btn:hover i{
    background-position:0 73% ;
}
.index-right-bottom{
    position: relative;
}
.title{
    float: left;
    width: 700px;
    height: 44px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}
.title>.nav-block2{
    display: inline-block;
    height: 37px;
    width: 120px;
    text-align: center;
}
.title>.nav-block2 a{
    display: inline-block;
    font-size: 18px;
    color: #333;
}
.title>.nav-block2 a:hover{
    color: #FF9D00;
}
.title>.nav-block3{
    display: inline-block;
    float: right;
    background: #FF9D00;
    height: 36px;
    width: 140px;
    border-radius: 5px;
}
.title>.nav-block3 a{
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    height: 36px;
    width: 140px;
    margin:5px auto;
    line-height: 12px;
}
.title>.nav-block3>a>i{
    float: left;
    height: 17px;
    width: 18px;
    margin:2% 5% 0 25%;
    background-image: url("../image/images/index-sprites9.png");
    background-position: 0 0;
}
.nav-block3>a>span{
    float: left;
    margin-top: 5px;
}
.title>.nav-block3:hover{
    background: #FF8A00;
}




/*ÓÃ»§ÎÄÕÂÕ¹Ê¾À¸css*/
.index-right-bottom{
    float: left;
    position: relative;
    width: 700px;
    margin: 20px 0 0 20px;
}
.index-group>ul{
    position: relative;
    display: block;
    width: 700px;
    margin: 50px 0 0 0;
}
.index-group>ul>li{
    position: relative;
    display: block;
    width: 700px;
    height: 180px;
    padding: 15px 0;
    padding-right: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.index-group>ul>li>a.index-block{
    display: block;
    position: relative;
    width: 700px;
    height: 180px;
}
.index-group>ul>li:hover{
    background: #F8F8F8;
}
.block>span.index-group-img{
    display: inline-block;
    float: left;
    width: 220px;
    background-size: 100% 100%;
    height: 150px;
    margin-left: 10px;
    margin-right: 20px;

}
.block>span.index-group-img1{
    background-image:url("../image/picture/wKgBEFs32VWARrpRAAvkNkbOiiM59.jpeg") ;
}
.block>span.index-group-img2{
    background-image:url("../image/picture/wKgBEFtLWNaAK7gSAAgjk7PDJEg84.jpeg") ;
}
.block>span.index-group-img3 {
     background-image: url("../image/picture/wKgBEFs_MFqABYQ6AA9UYYz1z6w71.jpeg");
 }
.block>span.index-group-img4 {
    background-image: url("../image/picture/wKgBEFs049WAIgEuACCesJ71aP872.jpeg");
}
.block>span.index-group-img5 {
    background-image: url("../image/picture/wKgBEFtXRmqASH1PAA1uoHe6vE490.jpeg");
}
.block>span.index-group-img6 {
    background-image: url("../image/picture/wKgBEFtZn9-Af5iQAAbyhtrEg7o00.jpeg");
}
.block>span.index-group-img7 {
    background-image: url("../image/picture/wKgBEFsOps6Afjt9AAk63McppQQ16.jpeg");
}
.block>span.index-group-img8 {
    background-image: url("../image/picture/wKgBEFsWJnuAWM5aAAh70X4PPJI99.jpeg");
}
.block>span.index-group-img9 {
    background-image: url("../image/picture/wKgBEFsZYoaANX6nAAqLBqagDb032.jpeg");
}
.block>span.index-group-img10{
    background-image: url("../image/picture/wKgBEFsmbGGAYn-JAAh4MQaL9W831.jpeg")
;
}

.user-img1{
    background-image: url("../image/picture/wKgBs1f9xtOANN5YAACuwMv8u2s38.jpeg");
}
.user-img2{
    background-image: url("../image/picture/wKgBEFtDYB2AZCi8ABvsmhORJvI17.jpeg");
}
.user-img3{
    background-image: url("../image/picture/wKgBEFrTG2WAJ94RAABhIabKEII42.jpeg");
}
.user-img4 {
    background-image: url("../image/picture/wKgBEFs7UdKAUr5kAACNhXdP9sM85.jpeg");
}
.user-img5{
    background-image: url("../image/picture/wKgBEFrYItOAagw0ABnoTZU3usw71.jpeg");
}
.user-img6{
    background-image: url("../image/picture/wKgBZ1n-6-GABtukABlQYR8vjfM21.jpeg");
}
.user-img7{
    background-image: url("../image/picture/wKgBEFsOnK6AA8kQAAh2D-Ub0kg25.jpeg");
}
.user-img8{
    background-image: url("../image/picture/wKgBs1bN2sWANHdpAACeoMxoR1M56.jpeg");
}
.user-img9{
    background-image: url("../image/picture/wKgBEFrBysiADKNFABQl1wEJdl488.jpeg");
}
.user-img10{
    background-image: url("../image/picture/wKgBEFtdZK-APYyzAAIf0sk6Yss18.jpeg");
}


.index-title{
    display: block;
    width: 420px;
    height: 26px;
    color: #333;
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 5px;
}
.index-group>ul>li:hover .index-title{
    color: #FF9D00;
}
.index-group>ul>li>a>p:nth-child(4){
    width: 455px;
    height: 33px;
    float: left;
    position: absolute;
    bottom: 30px;
    right: 0;
    background: #f8d7da;
    margin: 0;
}


.only-p{
    position: absolute;
    right: 0;
    width: 455px;
    margin: 15px 0 0 0;
    padding-left: 5px;
}
span.position-icon{
    float: left;
    width: 16px;
    height: 18px;
    margin: 8px 5px 0 2px;
    background-image: url("../image/images/index-sprites9.png");
    background-position: 0 27.5%;
}
.place{
    height: 26px;
    width: 100px;
    font-size: 12px;
    color: #666;
}
.font-place{
    float: left;
    height: 26px;
    font-size: 14px;
    color: #666;
    margin: 5px 10px 0 0;
}
.font-place:hover{
    color: #FF9D00;
}
.username-block>span:first-child{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    margin-right: 5px;
    border-radius: 50%;
}
.username-block{
    position: relative;
    float: left;
    width: 100px;
    height: 26px;
    color: #FF9D00;
    font-size: 14px;
    margin: 10px 10px 0 0;
}
.username-block:hover .font-username{
    color: #FF9D00;
    text-decoration: underline;
}
.font-username{
    position: absolute;
    display: inline-block;
    bottom: 8px;

}
.eye-icon{
    float: left;
    background-image: url("../image/images/index-sprites9.png");
    background-position: 16% 27%;
    width: 20px;
    height: 16px;
    margin: 10px 5px 0 10px;
}
.font-count1{
    float: left;
    color: #999;
    font-size: 14px;
    margin-top: 6px;
    margin-right: 10px;
}
.font-count2{
    float: right;
    color: #FF9D00;
    font-size: 14px;
    margin-top: 6px;
    margin-right: 5px;
}
.agree-icon{
    float: right;
    background-image: url("../image/images/index-sprites9.png");
    width: 38px;
    height: 33px;
    background-position: 37% 0;
    margin-right: 16px;
}



.page-items{
    position: relative;
    width: 700px;
}
.page-items>ul{
    margin-top: 15px;
    float: right;
    width: 480px;
    text-align: right;
}
.page-items>ul>li{
    float: left;
    margin-left: 10px;
}
.page-items>ul>li>a{
    display: block;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 7px;
    height: 24px;
    line-height: 24px;
    color: #666;
}
.page-items>ul>li>a:hover{
    background: #efefef;
}
.page-items .page-one,.page-items .page-one:hover,.page-items .next-page{
    background: #FF9D00;
    color: #fff;
}
.page-items .next-page:hover{
    background: #FF9D00;
}
.source .font-mfw:hover{
    text-decoration: underline;
}
@keyframes adv {
    0%{
        bottom: -13px;
    }
    100%{
        bottom: 27px;
    }
}
@keyframes border {
    0%{

    }
}



 .date  {
    position: absolute;
    border: 1px solid #FF9D00;
    border-radius: 3px;
    box-shadow: 0 0 4px #FF9D00;
    width: 530px;
    height: 240px;
    top: 32px;
    left: -169px;
    background-color: #fff;
    padding: 10px;
    display:none;
    justify-content: space-between;
}
.date table{
    float: left;
    width: 225px;
    height: 170px;
    padding: 10px;
    font-weight: normal;
    margin-right: 10px;
}
 .date>div:nth-child(1){
    margin-right: 15px;
    margin-left: 8px;
    border-right: 1px solid #ddd;
}
 .date table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .date table tbody tr ,.date table thead{
    display: flex;
    justify-content: space-between;
}
  .date table th span{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    font-weight: 400;
 }
 .date table th{
    width: 35px;
    height: 40px;
    text-align: center;
    line-height: 40px;
 }
 .date table td{
    text-align: center;
    line-height: 30px;
    width: 33px;
    height: 30px;
}
.date>div:nth-child(2)>table tr:nth-child(1)>td:nth-child(1){
    color: #FF9D00;
}
.date>div:nth-child(2)>table tr:nth-child(1)>td:nth-child(1):hover{
    color: #FFf;
}
  .date table td:hover{
    background-color: #FF9D00;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}
.date>div>span{
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.date>div>span>i{
    background-image: url("../image/images/datepicker-arrow.png");
    width: 10px;
    height: 14px;
    margin-top: 7px;
}
.date>div:nth-child(1)>span>i{
    float: left;
    margin-left: 7px;
    opacity: .5;
}
.date>div:nth-child(1)>span>i:hover{
    background-position: 0 91%;
}
.date>div:nth-child(2)>span>i{
    float: right;
    margin-right: 22px;
    background-position:90% 0;
}
.date>div:nth-child(2)>span>i:hover{
    background-position: 90% 91%;
}
